// Animations

@-webkit-keyframes popin {
  from { -webkit-transform: scale(.8); }
    to { -webkit-transform: scale(1); }
}
@keyframes popin {
  from { transform: scale(.8); }
    to { transform: scale(1); }
}

.popin {
  -webkit-animation: popin .1s linear;
          animation: popin .1s linear;
}

@-webkit-keyframes slidedown {
  from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}
@keyframes slidedown {
  from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
.slidedown {
  -webkit-animation: slidedown .1s ease;
          animation: slidedown .1s ease;
}


