/*
  BASSCSS
*/




// Reset

h1, h2, h3, h4, h5, h6, p, dl, ol, ul { margin-top: 0; }
body, button, input, select, textarea { margin: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }



// Layout

// Margins

.mx-auto { margin-right: auto; margin-left: auto; }

.mb-0 { margin-bottom: -.75rem; }

.mb0 { margin-bottom: 0; }

.mb05 { margin: .5rem; }

.m1  { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mr1 { margin-right: 1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left: 1rem; }

.m2  { margin: 2rem; }
.mt2 { margin-top: 2rem; }
.mr2 { margin-right: 2rem; }
.mb2 { margin-bottom: 2rem; }
.ml2 { margin-left: 2rem; }

.m3  { margin: 3rem; }
.mt3 { margin-top: 3rem; }
.mr3 { margin-right: 3rem; }
.mb3 { margin-bottom: 3rem; }
.ml3 { margin-left: 3rem; }

.m4  { margin: 4rem; }
.mt4 { margin-top: 4rem; }
.mr4 { margin-right: 4rem; }
.mb4 { margin-bottom: 4rem; }
.ml4 { margin-left: 4rem; }

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }
.mb8 { margin-bottom: 8rem; }

// Useful for horizontally centering elements with a fixed width
.mx-auto { margin-right: auto; margin-left: auto; }

// Padding
.p1  { padding: 1rem; }
.px1 { padding-right: 1rem; padding-left: 1rem; }
.py1 { padding-top: 1rem; padding-bottom: 1rem; }

.p2  { padding: 2rem; }
.px2 { padding-right: 2rem; padding-left: 2rem; }
.py2 { padding-top: 2rem; padding-bottom: 2rem; }

.p3  { padding: 3rem; }
.px3 { padding-right: 3rem; padding-left: 3rem; }
.py3 { padding-top: 3rem; padding-bottom: 3rem; }

.pl1 { padding-left: 1rem; }
.pl2 { padding-left: 2rem; }
.pl3 { padding-left: 3rem; }
.pl4 { padding-left: 4rem; }

.p4  { padding: 4rem; }
.px4 { padding-right: 4rem; padding-left: 4rem; }
.py4 { padding-top: 4rem; padding-bottom: 4rem; }
.pt4 { padding-top: 4rem; }
.pb4 { padding-bottom: 4rem; }

.p6  { padding: 6rem; }
.px6 { padding-right: 6rem; padding-left: 6rem; }
.py6 { padding-top: 6rem; padding-bottom: 6rem; }

.py8 { padding-top: 8rem; padding-bottom: 8rem; }


// Display
.inline       { display: inline;}
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }

// Utilities
.clearfix { overflow: hidden; }
.left { float: left; }
.right { float: right; }

.fit { max-width: 100%; }

.nowrap { white-space: nowrap; }

