/*

  BASSCSS

  Part reset, part boilerplate, part framework, all minimal.

  BASSCSS is a small reset and collection of simple type and layout
  classes that can be used as the basis for any web project.
  Use it out of the box or as a base for a larger SASS project.


  Contents:
  1. Reset
  2. Typography
     a. Default Font Stack
     b. Base Type Scale
     c. Responsive Type Scale
     d. Utilities
  3. Layout
     a. Margins
     b. Padding
     c. Display
     d. Utilities


  Made with love by Jxnblk

*/




// Reset

h1, h2, h3, h4, h5, h6, p, dl, ol, ul { margin-top: 0; }
body, button, input, select, textarea { margin: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

/*
p - 18px
h1 - 72px
h2 - 32px
h3 - 16px
h4 - 12px
h5 - 
h6 - 

Buttons - 18px

Black: #111111
Grey: #
*/


// Typography

body {
  font-family: 'Reader Regular', serif;
  font-size-adjust:0.53;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.apercu {
  font-family: 'Apercu Regular', sans-serif; 
  font-size-adjust: 0.508;
  font-weight: normal;
  font-style: normal;
}
.apercu-medium {
  font-family: 'Apercu Medium', Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: 600;
  font-style: normal;
}
.apercu-bold {
  font-family: 'Apercu Bold', Calibri, sans-serif;
  font-size-adjust: 0.508;
  font-weight: bold;
  font-style: normal;
}

h1, .h1, h2, .h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-bottom: 2rem;
}

// Base Type Scale

h1, .h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1rem;
  line-height: 1.75rem;
}

h4, .h4, h5, h6,
small, .small {
  font-size: .75rem;
  line-height: 1rem;
}

dl, ol, ul, p, .p {
  font-size: 1.125rem;
}

// Responsive Type Scale
// Apply the .responsive class directly to elements or their parents
.responsive {
  @media (min-width: 768px) {
    .h1, &.h1 {
      font-size: 4.5rem;
      line-height: 5rem;
    }
    .h2, &.h2 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  /* @media (min-width: 1024px) {
    .h1, &.h1 {
      font-size: 6rem;
      line-height: 8rem;
    }
    .h2, &.h2 {
      font-size: 3rem;
      line-height: 4rem;
    }
  }*/
}

// Utilities
.bold { font-weight: bold; }
.italic { font-style: italic; }
.regular { font-weight: normal; }
.caps { text-transform: uppercase; letter-spacing: .05em; }
.caps--t2 { letter-spacing: .2em; }
.center { text-align: center; }
.right-align  { text-align: right; }

.lh1 { line-height: 1; }
.lh2 { line-height: 1.25; }


// Layout

// Margins

.mx-auto { margin-right: auto; margin-left: auto; }

.mb0 { margin-bottom: 0; }

.m1  { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mr1 { margin-right: 1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left: 1rem; }

.m2  { margin: 2rem; }
.mt2 { margin-top: 2rem; }
.mr2 { margin-right: 2rem; }
.mb2 { margin-bottom: 2rem; }
.ml2 { margin-left: 2rem; }

.m3  { margin: 3rem; }
.mt3 { margin-top: 3rem; }
.mr3 { margin-right: 3rem; }
.mb3 { margin-bottom: 3rem; }
.ml3 { margin-left: 3rem; }

.m4  { margin: 4rem; }
.mt4 { margin-top: 4rem; }
.mr4 { margin-right: 4rem; }
.mb4 { margin-bottom: 4rem; }
.ml4 { margin-left: 4rem; }

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }
.mb8 { margin-bottom: 8rem; }

// Useful for horizontally centering elements with a fixed width
.mx-auto { margin-right: auto; margin-left: auto; }

// Padding
.p1  { padding: 1rem; }
.px1 { padding-right: 1rem; padding-left: 1rem; }
.py1 { padding-top: 1rem; padding-bottom: 1rem; }

.p2  { padding: 2rem; }
.px2 { padding-right: 2rem; padding-left: 2rem; }
.py2 { padding-top: 2rem; padding-bottom: 2rem; }

.p3  { padding: 3rem; }
.px3 { padding-right: 3rem; padding-left: 3rem; }
.py3 { padding-top: 3rem; padding-bottom: 3rem; }

.pl3 { padding-left: 3rem; }

.p4  { padding: 4rem; }
.px4 { padding-right: 4rem; padding-left: 4rem; }
.py4 { padding-top: 4rem; padding-bottom: 4rem; }

.p6  { padding: 6rem; }
.px6 { padding-right: 6rem; padding-left: 6rem; }
.py6 { padding-top: 6rem; padding-bottom: 6rem; }

.py8 { padding-top: 8rem; padding-bottom: 8rem; }

// Display
.inline       { display: inline;}
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }

// Utilities
.clearfix { overflow: hidden; }
.left { float: left; }
.right { float: right; }

.fit { max-width: 100%; }

.nowrap { white-space: nowrap; }

