// Buttons

.sq4 { width: 4rem; height: 4rem; }

.button {
  display: inline-block;
  text-decoration: none;
  height: 4rem;
  line-height: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2px;
}

.button-circle {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
}

.button-block {
  display: block;
  text-align: center;
}

