// Buttons

.button {
  display: inline-block;
  text-decoration: none;
  height: 4rem;
  line-height: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2px;
}

.button_block {
  display: block;
  text-align: center;
}

