// Left flyout nav

.flyout {
  position: fixed;
  top: 0; bottom: 0; left: 0;
  z-index: 3;
  width: 15rem;
  padding-right: 4rem;
  padding-left: 1rem;
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem);
  -webkit-transition: -webkit-transform .2s ease;
          transition: transform .2s ease;
  &.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  }
}

