// Forms


.input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem 1rem;
  // 1rem font-size prevents zooming on iOS
  font-size: 1rem;
  line-height: 1rem;
  height: 3rem;
  border: none;
  -webkit-appearance: none;
          appearance: none;
}

