// Grid
// Based on Responsive Grid responsivegridsystem.com


// Use .clearfix instead of section or group

$gutter: 1.6%;

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 768px){
  .col {
    float:left;
    margin-left: $gutter/2;
    margin-right: $gutter/2;
  }

  // 12 column grid

  .container {
    overflow: hidden;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-8 {}

  .col-12,
  .span_12_of_12 {
    width: 100%;
  }

  .col-11,
  .span_11_of_12 {
    width: percentage(11/12) - $gutter;
  }

  .col-10,
  .span_10_of_12 {
    width: percentage(10/12) - $gutter;
  }

  .col-9,
  .span_9_of_12 {
    width: percentage(9/12) - $gutter;
  }

  .col-8,
  .span_8_of_12 {
    width: percentage(8/12) - $gutter;
  }

  .col-7,
  .span_7_of_12 {
    width: percentage(7/12) - $gutter;
  }

  .col-6,
  .span_6_of_12 {
    width: percentage(6/12) - $gutter;
  }

  .col-5,
  .span_5_of_12 {
    width: percentage(5/12) - $gutter;
  }

  .col-4,
  .span_4_of_12 {
    width: percentage(4/12) - $gutter;
  }

  .col-3,
  .span_3_of_12 {
    width: percentage(3/12) - $gutter;
  }

  .col-2,
  .span_2_of_12 {
    width: percentage(2/12) - $gutter;
  }

  .col-1,
  .span_1_of_12 {
    width: percentage(1/12) - $gutter;
  }

  .pre-6 { padding-left: percentage(6/12); }
  .pre-5 { padding-left: percentage(5/12); }
  .pre-4 { padding-left: percentage(4/12); }
  .pre-3 { padding-left: percentage(3/12); }
  .pre-2 { padding-left: percentage(2/12); }
  .pre-1 { padding-left: percentage(1/12); }

  .post-6 { padding-right: percentage(6/12); }
  .post-5 { padding-right: percentage(5/12); }
  .post-4 { padding-right: percentage(4/12); }
  .post-3 { padding-right: percentage(3/12); }
  .post-2 { padding-right: percentage(2/12); }
  .post-1 { padding-right: percentage(1/12); }

  .col--alpha { margin-left: 0; }
  .col--omega { margin-right: 0; }

}

// for debugging
.outline, .outline * {
  outline: 1px solid blue;
}


