// Positioning utilities

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }
.absolute-center {
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// ui-scrollfix
.ui-scrollfix-show {
  display: none;
}
.ui-scrollfix-hide {
  -webkit-transition: -webkit-transform .3s ease;
          transition:         transform .3s ease;
}
.ui-scrollfix {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  .ui-scrollfix-show {
    display: block;
  }
  .ui-scrollfix-hide {
    -webkit-transform: translateX(-4.5rem);
            transform: translateX(-4.5rem);
  }
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }

