// Progress bar for audio player

.progress {
  position: relative;
  height: 2.25rem;
  cursor: pointer;
}
.progress-background,
.progress-buffer,
.progress-played,
.progress-overlay {
  position: absolute;
}
.progress-background,
.progress-buffer,
.progress-played {
  top: .875rem;
  bottom: .875rem;
  left: 0;
  border-radius: .25rem;
}
.progress-background {
  right: 0;
}
.progress-overlay {
  top: 0; right: 0; bottom: 0; left: 0;
}

