// Table object

.table {
  display: table;
  width: 100%;
}
.table-fixed {
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.table-cell-bottom {
  vertical-align: bottom;
}

.table-row {
  display: table-row;
}

@media (min-width: 768px) {
  .l-table {
    display: table;
    width: 100%;
  }
  .l-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

