// Theme

$black: #111111;
$grey: #303030;
$green: #79f6b9;

// Feature 2
$peach: #fde8d7;

.white { color: #fff; }
.black { color: $black; }
.grey  { color: $grey; }
.green { color: $green; }

.peach { color: $peach; }

.bg-white { background-color: #fff; }
.bg-black { background-color: $black; }
.bg-grey  { background-color: $grey; }
.bg-green { background-color: $green; }

.bg-peach { background-color: $peach; }

.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-center { background-position: center center; }

.round { border-radius: 2px; }

.circle { border-radius: 50%; }

.nav-white {
  a {
    color: #fff;
    text-decoration: none;
  }
}

.button-grey {
  color: #fff;
  background-color: $grey;
}

.button-border {
  color: #fff;
  border-width: 4px;
  border-style: solid;
  // border color should inherit from the foreground color, but it's not...
  border-color: #fff;
  svg path {
    fill: #fff;
  }
  &:hover {
    color: $green;
    border-color: $green;
    svg path {
      fill: $green;
    }
  }
}

