@charset "UTF-8";
body {
  font-family: 'Reader Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

.apercu {
  font-family: 'Apercu Regular', sans-serif;
  font-weight: normal;
  font-style: normal; }

.apercu-medium {
  font-family: 'Apercu Medium', Calibri, sans-serif;
  font-weight: 600;
  font-style: normal; }

.apercu-bold {
  font-family: 'Apercu Bold', Calibri, sans-serif;
  font-weight: bold;
  font-style: normal; }

.lydian {
  font-family: LydianBT-Italic, georgia;
  font-weight: lighter;
  letter-spacing: .05em; }

h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-bottom: 2rem; }

h1, .h1 {
  font-size: 2rem;
  line-height: 3rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1rem;
  line-height: 1.75rem; }

h4, .h4 {
  font-size: .875rem;
  line-height: 1rem; }

h5, .h6, h6,
small, .small {
  font-size: .75rem;
  line-height: 1rem; }

dl, ol, ul, p, .p {
  font-size: 1rem; }

@media (min-width: 768px) {
  body {
    line-height: 2rem; }

  .h1 {
    font-size: 4.5rem;
    line-height: 5rem; }

  .h2 {
    font-size: 2rem;
    line-height: 3rem; }

  p, .p {
    font-size: 1.125rem; }

  .small {
    font-size: .75rem; } }
.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.regular {
  font-weight: normal; }

.caps {
  text-transform: uppercase;
  letter-spacing: .05em; }

.caps--t2 {
  letter-spacing: .2em; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

@media (max-width: 768px) {
  .mobile-center {
    text-align: center; } }
.lh1 {
  line-height: 1; }

.lh2 {
  line-height: 1.25; }

.wf-loading .apercu,
.wf-loading .apercu-medium,
.wf-loading .apercu-bold {
  visibility: hidden; }

.input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem 1rem;
  font-size: .75rem;
  line-height: 1rem;
  height: 2rem;
  border: none;
  -webkit-appearance: none;
  appearance: none; }

/*
  BASSCSS
*/
h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-top: 0; }

body, button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.mb0 {
  margin-bottom: 0; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mt6 {
  margin-top: 6rem; }

.mb6 {
  margin-bottom: 6rem; }

.mb8 {
  margin-bottom: 8rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.p1 {
  padding: 1rem; }

.px1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p2 {
  padding: 2rem; }

.px2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p3 {
  padding: 3rem; }

.px3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pl3 {
  padding-left: 3rem; }

.p4 {
  padding: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pt4 {
  padding-top: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.p6 {
  padding: 6rem; }

.px6 {
  padding-right: 6rem;
  padding-left: 6rem; }

.py6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.py8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.hide {
  display: none; }

.clearfix {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.nowrap {
  white-space: nowrap; }

.list-simple {
  list-style: none;
  padding-left: 0; }

.list-inline {
  list-style: none;
  padding-left: 0; }
  .list-inline li {
    display: inline-block;
    margin-right: 1rem; }
    .list-inline li:last-child {
      margin-right: 0; }

.x25 {
  width: 25%; }

.x50 {
  width: 50%; }

.x75 {
  width: 75%; }

.x100 {
  width: 100%; }

.x33 {
  width: 33.33333%; }

.x66 {
  width: 66.66667%; }

@media (max-width: 640px) {
  .s-x25 {
    width: 25%; }

  .s-x50 {
    width: 50%; }

  .s-x75 {
    width: 75%; }

  .s-x100 {
    width: 100%; }

  .s-x33 {
    width: 33.33333%; }

  .s-x66 {
    width: 66.66667%; } }
@media (min-width: 641px) and (max-width: 1024px) {
  .m-x25 {
    width: 25%; }

  .m-x50 {
    width: 50%; }

  .m-x75 {
    width: 75%; }

  .m-x100 {
    width: 100%; }

  .m-x33 {
    width: 33.33333%; }

  .m-x66 {
    width: 66.66667%; } }
@media (min-width: 1025px) {
  .l-x25 {
    width: 25%; }

  .l-x50 {
    width: 50%; }

  .l-x75 {
    width: 75%; }

  .l-x100 {
    width: 100%; }

  .l-x33 {
    width: 33.33333%; }

  .l-x66 {
    width: 66.66667%; } }
html, body {
  height: 100%; }

.banner {
  width: 100%; }
  .banner:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.min-y100 {
  min-height: 100%; }

.y100 {
  height: 100%; }

.y75 {
  height: 75%; }

.y50 {
  height: 50%; }

.y25 {
  height: 25%; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.absolute-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.l0 {
  left: 0; }

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.ui-scrollfix-show {
  display: none; }

.ui-scrollfix-hide {
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }

.ui-scrollfix {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%; }
  .ui-scrollfix .ui-scrollfix-show {
    display: block; }
  .ui-scrollfix .ui-scrollfix-hide {
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem); }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.table {
  display: table;
  width: 100%; }

.table-fixed {
  table-layout: fixed; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.table-row {
  display: table-row; }

@media (min-width: 768px) {
  .l-table {
    display: table;
    width: 100%; }

  .l-table-cell {
    display: table-cell;
    vertical-align: middle; } }
.container {
  padding-right: 2rem;
  padding-left: 2rem; }

@media (min-width: 768px) {
  .col {
    float: left;
    margin-left: 0.8%;
    margin-right: 0.8%; }

  .container {
    overflow: hidden;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto; }

  .col-12,
  .span_12_of_12 {
    width: 100%; }

  .col-11,
  .span_11_of_12 {
    width: 90.06667%; }

  .col-10,
  .span_10_of_12 {
    width: 81.73333%; }

  .col-9,
  .span_9_of_12 {
    width: 73.4%; }

  .col-8,
  .span_8_of_12 {
    width: 65.06667%; }

  .col-7,
  .span_7_of_12 {
    width: 56.73333%; }

  .col-6,
  .span_6_of_12 {
    width: 48.4%; }

  .col-5,
  .span_5_of_12 {
    width: 40.06667%; }

  .col-4,
  .span_4_of_12 {
    width: 31.73333%; }

  .col-3,
  .span_3_of_12 {
    width: 23.4%; }

  .col-2,
  .span_2_of_12 {
    width: 15.06667%; }

  .col-1,
  .span_1_of_12 {
    width: 6.73333%; }

  .pre-6 {
    padding-left: 50%; }

  .pre-5 {
    padding-left: 41.66667%; }

  .pre-4 {
    padding-left: 33.33333%; }

  .pre-3 {
    padding-left: 25%; }

  .pre-2 {
    padding-left: 16.66667%; }

  .pre-1 {
    padding-left: 8.33333%; }

  .post-6 {
    padding-right: 50%; }

  .post-5 {
    padding-right: 41.66667%; }

  .post-4 {
    padding-right: 33.33333%; }

  .post-3 {
    padding-right: 25%; }

  .post-2 {
    padding-right: 16.66667%; }

  .post-1 {
    padding-right: 8.33333%; }

  .mr0 {
    margin-right: 0; }

  .ml0 {
    margin-left: 0; } }
.outline, .outline * {
  outline: 1px solid blue; }

.sq4 {
  width: 4rem;
  height: 4rem; }

.button {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: auto;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  border-radius: 2px; }

.button-small {
  height: auto;
  min-height: 2rem;
  line-height: 2rem;
  padding: 0 1.5rem; }

.button-circle {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 50%; }
  .button-circle svg {
    padding: .375rem; }

.button-circle-big {
  width: 5rem;
  height: 5rem;
  line-height: 5rem; }
  .button-circle-big svg {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1.25rem; }

.button-icon {
  display: inline-block; }
  .button-icon svg {
    padding: .75rem; }

.button-icon-small svg {
  padding: .5rem; }

.button-ss-icon {
  display: inline-block;
  line-height: 2rem;
  padding: 0 .5rem; }

.button-block {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 .5rem; }

.progress {
  position: relative;
  height: 2rem;
  cursor: pointer; }

.progress-background,
.progress-buffer,
.progress-played,
.progress-overlay {
  position: absolute; }

.progress-background,
.progress-buffer,
.progress-played {
  top: .875rem;
  bottom: .875rem;
  left: 0; }

.progress-background {
  right: 0; }

.progress-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.flyout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 15rem;
  padding-right: 4rem;
  padding-left: 1rem;
  -webkit-transform: translateX(-20rem);
  transform: translateX(-20rem);
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease; }
  .flyout.is-open {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.bar {
  height: 2rem;
  line-height: 2rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.slideshow {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap; }

.slideshow--large {
  height: 38rem; }

.slide {
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  height: 100%; }

@media (max-width: 768px) {
  .mobile-hide {
    display: none; } }

@media (min-width: 768px) {
  .mobile-show {
    display: none; } }

body {
  color: #303030; }

.white {
  color: #fff; }

.black {
  color: black; }

.dark-grey {
  color: #111111; }

.grey {
  color: #303030; }

.mid-grey {
  color: #666666; }

.green {
  color: #79f6b9; }

.gold {
  color: #dea439; }

.tan {
  color: #aa9785; }

.peach {
  color: #fde8d7; }

.bg-peach-to-cream {
  background-image: linear-gradient(#fde8d7, #f7f3ef); }

.bg-cream {
  background-color: #f7f3ef; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: black; }

.bg-dark-grey {
  background-color: #111111; }

.bg-grey {
  background-color: #303030; }

.bg-mid-grey {
  background-color: #666666; }

.bg-green {
  background-color: #79f6b9; }

.bg-gold {
  background-color: #dea439; }

.bg-peach {
  background-color: #fde8d7; }

.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

.bg-center {
  background-position: center center; }

.round {
  border-radius: 2px; }

.circle {
  border-radius: 50%; }

.aa {
  -webkit-font-smoothing: antialiased; }

a {
  color: #dea439;
  text-decoration: none; }
  a:hover {
    color: #c38a21; }

.nav-white a,
.link-white {
  color: #fff;
  text-decoration: none; }
  .nav-white a:hover,
  .link-white:hover {
    color: #dea439; }

.link-white-static {
  color: #fff; }
  .link-white-static:hover {
    color: #fff; }

.link-grey {
  color: #303030;
  text-decoration: none; }
  .link-grey:hover {
    color: #dea439; }

.link-mid-grey {
  color: #666666;
  text-decoration: none; }
  .link-mid-grey:hover {
    color: #dea439; }

.input-white {
  background-color: #fff;
  border-radius: .125rem; }
  .input-white:focus {
    outline: none;
    border: 1px solid #dea439; }

.button-icon svg path {
  fill: #fff; }
.button-icon:hover svg path {
  fill: #dea439; }

.button-icon-grey svg path {
  fill: #666666; }
.button-icon-grey:hover svg path {
  fill: #dea439; }

.button-icon-gold svg path {
  fill: #fff; }
.button-icon-gold:hover svg path {
  fill: #fff; }

.button-grey {
  color: #fff;
  background-color: #303030; }
  .button-grey:hover {
    background-color: #dea439; }

.button-gold {
  color: #fff;
  background-color: #dea439; }
  .button-gold:hover {
    color: #fff;
    background-color: #c38a21; }

.button-border {
  color: #fff;
  border-width: .125rem;
  border-style: solid;
  border-color: #fff; }
  .button-border svg path {
    fill: #fff; }
  .button-border:hover {
    color: #dea439;
    border-color: #dea439; }
    .button-border:hover svg path {
      fill: #dea439; }

.button-border-big {
  border-width: .25rem; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@-webkit-keyframes popin {
  from {
    -webkit-transform: scale(0.8); }

  to {
    -webkit-transform: scale(1); } }

@-moz-keyframes popin {
  from {
    -moz-transform: scale(0.8); }

  to {
    -moz-transform: scale(1); } }

@keyframes popin {
  from {
    transform: scale(0.8); }

  to {
    transform: scale(1); } }

.popin {
  -webkit-animation: popin .1s linear;
  -moz-animation: popin .1s linear;
  animation: popin .1s linear; }

@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-100%); }

  to {
    -webkit-transform: translateY(0); } }

@-moz-keyframes slidedown {
  from {
    -moz-transform: translateY(-100%); }

  to {
    -moz-transform: translateY(0); } }

@keyframes slidedown {
  from {
    transform: translateY(-100%); }

  to {
    transform: translateY(0); } }

.slidedown {
  -webkit-animation: slidedown .1s ease;
  -moz-animation: slidedown .1s ease;
  animation: slidedown .1s ease; }

/* variables */
/* general */
.rn-carousel-container {
  position: relative; }

.rn-carousel-slides {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  white-space: nowrap;
  overflow: visible;
  font-size: 0;
  padding: 0;
  margin: 0; }

.rn-carousel-slide {
  font-size: 1rem;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

/* indicators */
.rn-carousel-indicator {
  width: 100%;
  text-align: center;
  height: 20px;
  position: relative;
  bottom: 0;
  cursor: pointer; }

.rn-carousel-indicator span {
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  padding: 0 5px;
  color: #333; }

.rn-carousel-indicator span:before {
  content: "\25cf"; }

.rn-carousel-indicator .active {
  color: white; }

/* controls */
.rn-carousel-control {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  opacity: 0.85;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #fff;
  background-color: #dea439;
  border-radius: 50%; }

.rn-carousel-control:hover {
  opacity: 1;
  background-color: #c38a21; }

.rn-carousel-control.rn-carousel-control-prev {
  left: 2rem; }

.rn-carousel-control.rn-carousel-control-prev:before {
  content: "<"; }

.rn-carousel-control.rn-carousel-control-next {
  right: 2rem; }

.rn-carousel-control.rn-carousel-control-next:before {
  content: ">"; }

@media (max-width: 640px) {
  .rn-carousel-control {
    display: none; } }
/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialRegular";
  src: url("../fonts/ss-social-regular.eot");
  src: url("../fonts/ss-social-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ss-social-regular.woff") format("woff"), url("../fonts/ss-social-regular.ttf") format("truetype"), url("../fonts/ss-social-regular.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

.ss-appdotnet:before, .ss-appdotnet.right:after {
  content: ''; }

.ss-zerply:before, .ss-zerply.right:after {
  content: ''; }

.ss-reddit:before, .ss-reddit.right:after {
  content: ''; }

.ss-steam:before, .ss-steam.right:after {
  content: ''; }

.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

.ss-wordpress:before, .ss-wordpress.right:after {
  content: ''; }

.ss-blogger:before, .ss-blogger.right:after {
  content: ''; }

.ss-posterous:before, .ss-posterous.right:after {
  content: ''; }

.ss-quora:before, .ss-quora.right:after {
  content: ''; }

.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

.ss-vimeo:before, .ss-vimeo.right:after {
  content: ''; }

.ss-vine:before, .ss-vine.right:after {
  content: ''; }

.ss-letterboxd:before, .ss-letterboxd.right:after {
  content: ''; }

.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

.ss-500px:before, .ss-500px.right:after {
  content: ''; }

.ss-etsy:before, .ss-etsy.right:after {
  content: ''; }

.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

.ss-svpply:before, .ss-svpply.right:after {
  content: ''; }

.ss-readmill:before, .ss-readmill.right:after {
  content: ''; }

.ss-dropbox:before, .ss-dropbox.right:after {
  content: ''; }

.ss-pinboard:before, .ss-pinboard.right:after {
  content: ''; }

.ss-delicious:before, .ss-delicious.right:after {
  content: ''; }

.ss-dribbble:before, .ss-dribbble.right:after {
  content: ''; }

.ss-behance:before, .ss-behance.right:after {
  content: ''; }

.ss-github:before, .ss-github.right:after {
  content: ''; }

.ss-octocat:before, .ss-octocat.right:after {
  content: ''; }

.ss-stackoverflow:before, .ss-stackoverflow.right:after {
  content: ''; }

.ss-paypal:before, .ss-paypal.right:after {
  content: ''; }

.ss-kickstarter:before, .ss-kickstarter.right:after {
  content: ''; }

.ss-foursquare:before, .ss-foursquare.right:after {
  content: ''; }

.ss-yelp:before, .ss-yelp.right:after {
  content: ''; }

.ss-skype:before, .ss-skype.right:after {
  content: ''; }

.ss-rdio:before, .ss-rdio.right:after {
  content: ''; }

.ss-spotify:before, .ss-spotify.right:after {
  content: ''; }

.ss-lastfm:before, .ss-lastfm.right:after {
  content: ''; }

.ss-soundcloud:before, .ss-soundcloud.right:after {
  content: ''; }

.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

.ss-like:before, .ss-like.right:after {
  content: '👍'; }

.ss-rss:before, .ss-rss.right:after {
  content: ''; }

.ss-share:before, .ss-share.right:after {
  content: ''; }

.ss-apple:before, .ss-apple.right:after {
  content: ''; }

.ss-microsoft:before, .ss-microsoft.right:after {
  content: ''; }

.ss-windows:before, .ss-windows.right:after {
  content: ''; }

.ss-android:before, .ss-android.right:after {
  content: ''; }

.ss-blackberry:before, .ss-blackberry.right:after {
  content: ''; }

/* Legacy */
.ss-fivehundredpx:before, .ss-fivehundredpx.right:after {
  content: ''; }

@font-face {
  font-family: 'LydianBT-Italic';
  src: url("../fonts/lydian-italic.eot");
  src: url("../fonts/lydian-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lydian-italic.woff") format("woff"), url("../fonts/lydian-italic.ttf") format("truetype"), url("../fonts/lydian-italic.svg#wf") format("svg"); }
