/*---Mobile Nav---*/

/* Clearfix */
/*
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav {
	height: 40px;
	width: 100%;
	background: #161616;
	font-size: 11pt;
	position: relative;
	z-index: 20;
	letter-spacing: .05em;
}

nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #dea439;
	color: white;
}
nav a#pull {
	display: none;
}

/*-------*/

@media only screen and (max-width: 975px) {

#slide1, #slide2 {
	background-position:center !important;
}

}

@media only screen and (max-width: 580px) {

.tagline {
	display: none !important;
}

.navbar {
	padding-top: 20px !important;
	padding-bottom: 0px;
}

.slider {
	height: 300px !important;
	width: 100% !important;
}

.slideimage {
	height: 100% !important;
}

.nav {
	display: none;
}

.navmargin {
	margin-right: 8px !important;
}

.navbarhome {
	background-color: rgba(0, 0, 0, 0) !important;
}

.logo {
	margin-bottom: 10px !important;
	text-align: center;
	display: inline !important;
}

#logomobile{
	margin-top: -10px !important;
}

#logohomedesktop {
	display: none;
}

.shopbanner {
	height: 300px !important;
}

.shopbannercopy {
	padding-top: 80px !important;
}

#slide1, #slide2, #slide3 {
	background-position:center bottom !important;
	background-size: 200% !important; 
}

.shopbanner {
	background-position: center;
	background-size: 200% !important;
}

.slider-nav, .slider-arrows {
	display: none;
}

.feature {
	min-height: 100% !important;
	margin-bottom: 15px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.mobilemargin {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#desktop {
	display:none;
}

.mailclubhead {
	text-align: center;
}

.mobilenewsletter {
	text-align: center !important;
}

ul.social {
	text-align: center !important;
}

.social {
	margin-top: 35px !important;
}
	
ul.footerlinks {
	margin-left: 0px !important;
}

ul.footerlinks li {
	display: block !important;
	line-height: 2em;
}

.footermargin {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.copyright {
	margin-top: 40px !important;
}

.sub-description {
	margin-top: 15px !important;
}

#plus {
	text-align: center;
	margin-top: -25px;
	margin-bottom: -25px;
	z-index: 10;
	fill: #101010;
}

#circle {
	fill: #79f6b9;
}

#slide1 {
	background-image:url(../img/slider/mobile/slider_daniel.jpg) !important;
	background-size: 100%;
	background-position: center; 
}

#slide2 {
	background-image:url(../img/slider/mobile/slider_daniel2.jpg) !important;
	background-size: 100%;
	background-position: center; 
}

#slide3 {
	background-image:url(../img/slider/mobile/slider_singlesclub.jpg) !important;
	background-size: 100%;
	background-position: center; 
}

.feature {
	margin-bottom: 0px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	z-index: 1 !important;
}

#mobile h3 {
	line-height: 1.3em;
	margin-top: -10px;
	margin-bottom: -10px;
}



.learnmore {
	text-align: center;
	margin-top: 105px;
	display: none;
}

#learnmorecircle {
	fill: #161616;
}

.headline-bar-copy {
	margin-top: 15px !important;
}

#learnmoretext {
	fill: white;
}

#learnmorearrow {
	fill: #79f6b9;
}

.mobiletagline {
	text-align: center;
}

.mobiletagline h6 {
	line-height: 1.2em;
	text-align: center;
	letter-spacing: .09em;
}

.desktopnewsletter {
	display: none !important;
}

.slider {
	height: 360px !important;
}

.journalheadline {
	padding-top: 82% !important;
	background-size: 130% !important;
	background-position: center top !important;
	margin-top: 100px;
}

/*---Mobile Nav---*/

/*
nav { 
		height: auto;
		border-bottom: 0;
	}
	nav ul {
		width: 100%;
		display: none;
		height: auto;
	}
	nav li {
		width: 50%;
		float: left;
		position: relative;
	}
	nav li a {
	text-align: center;
}
	nav a {
  	text-align: left;
  	width: 100%;
	}
nav a#pull {
	display: block;
	background-color: #111111;
	width: 100%;
	position: relative;
	text-align: center;
}
*/	
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}


@media only screen and (min-width: 480px) {

#mobile, #plus, #circle, #logomobile, .learnmore, .mobiletagline, nav, .clearfix {
	display: none;
}

.mobilenewsletter p{
	display: none !important;
}

}



/*---        STYLING        ---*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.centerobject {
	text-align: center;
}

body {
	background-color: black;
    text-rendering: optimizeLegibility; 
    font-size: 16px;
    font-style: normal;
    font-family: "Reader Regular", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: .2px;
    line-height: 22px;
    color: #333333;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #dea439;
	text-decoration: none;
}

/*Fonts*/

p {
    font-size: 1em;
    font-style: normal;
    font-family: "Reader Regular", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: .2px;
    line-height: 22px;
}

h1 {
    font-size: 4.769em;
    font-style: normal;
    font-family:"Apercu Bold", Calibri, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 68px;
    color: white;
}

h2 {
    font-style: normal;
    font-family:"Apercu Regular", Calibri, sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-size: 1.7em;
    font-size-adjust:0.508;
    line-height: 1.1em;
    letter-spacing: .05em;
    color: white;
}

h3 {
    font-style: normal;
    font-family:"Apercu Bold", Calibri, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: 1.6em;
    line-height: 1.2em;
    color: white;
}

h4 {
    font-style: normal;
    font-family: "Reader Regular", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: .05em;
    color: white;
}

h5 {
    font-style: normal;
    font-family:"Apercu Bold", Calibri, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: .05em;
	color: #dea439;
}

h6 {
	font-family: LydianBT-Italic, georgia; 
	font-weight: lighter; 
	font-style: italic; 
	letter-spacing: .05em;
	text-rendering: optimizeLegibility;
    color: white;
}

.letterspaced {
	letter-spacing: .2em;
}

.justify {
	text-align: justify;
}

.wf-loading body {
    visibility: hidden;
}

/*---        MARGINS        ---*/

.top_margin_large {
	margin-top: 60px;
}

.top_margin_medium {
	margin-top: 30px;
}

.top_margin_small {
	margin-top: 10px;
}

.bottom_margin_large {
	margin-bottom: 60px;
}

.bottom_margin_medium {
	margin-bottom: 30px;
}

.bottom_margin_small {
	margin-bottom: 10px;
}

.top_padding_large {
	padding-top: 60px;
}

.top_padding_medium {
	padding-top: 30px;
}

.top_padding_small {
	padding-top: 10px;
}

.bottom_padding_large {
	padding-bottom: 60px;
}

.bottom_padding_medium {
	padding-bottom: 30px;
}

.bottom_padding_small {
	padding-bottom: 10px;
}


/*---         COLORS        ---*/

.black {
	color: #1a1a1a !important;
}

.darkgrey {
	color: #111111 !important;
}

.grey {
	color: #161616 !important;
}

.gold {
	color: #dea439 !important;
}

.offwhite {
	color: rgb(245, 245, 245) !important;	
}

.white {
	color: white !important;
}

.bg_gold {
	background-color: #dea439;
}

.bg_grey {
	background-color: #111111;
}

.bg_darkgrey {
	background-color: #111111;
}


/*---        BUTTONS        ---*/

.button, .button_small{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: white;  
    font-family:"Apercu Medium", Calibri, sans-serif;
    font-weight: 600;
    letter-spacing: .02em;
    -o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	-webkit-appearance: none;
}

a.button, .button_small {
	text-decoration: none;
}

.button:hover {
	background: #5825fe;
	color: white;
}

.button_small:hover {
	background: #5825fe;
	color: white;
}

.button_small {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	background-color: #dea439;
	font-weight: 600;
	font-family:"Apercu Medium", Calibri, sans-serif;
    text-rendering: optimizeLegibility;
	margin-left: 0 !important; 
	letter-spacing: .1em;
	-webkit-appearance: none;
}

.button {
	background: #dea439;
}

input {
	background-color: white;
	border: 0px solid;
	height:40px;
	width:100%;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}

input, .button, .button_small {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
}

textarea:focus, input:focus {
	border: 0px;
	background-color: white;
	color: black;
}

/*---        NAV        ---*/

.navbarhome {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 15px;
	display: block;
	float: left;
	z-index: 10;
	position: absolute;
	
}

.navbar {
	background-color: #161616;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 15px;
	display: block;
	float: left;
	z-index: 10;
	position: absolute;
	
}

.navborder {
	height: 15px;
	width: 100%;
	background-color: black;
	position: absolute;
	z-index: 1;
	display: inline;
	margin-top: 110px;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px !important;
}


ul.nav {
	list-style: none;
	text-align: right;
    text-transform: uppercase;
    margin-top: 15px;
    font-family:"Apercu Bold", Calibri, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    font-weight: 100;
    font-size-adjust:0.508;
}

ul.nav li {
	display: inline;
	font-size: 14px;
	letter-spacing: .1em;
}

.navmargin {
	margin-right: 15px;
}

ul.nav a {
	color: white;
}

ul.nav a:hover {
	color: #dea439;
}

.tagline {
 	margin-top: 24px !important;
 	text-transform: uppercase;
 	font-size: .91em;
 	letter-spacing: .03em;
}





/*---        LEARN MORE        ---*/



/*---        SLIDER        ---*/

/* SLIDES */

#slide1 {
	background-image:url(../img/slider/desktop/daniel_issue1.jpg);
	background-width: 100%;
	background-position: center; 
}

#slide1content {
	margin-top: 100px;
	margin-left: 
}

#slide3 {
	background-image:url(../img/slider/desktop/home_daniel2.jpg);
	background-size: 100%;
	background-position: center; 
}

#slide2 {
	background-image:url(../img/slider/desktop/home_singlesclub.jpg);
	background-size: 100%;
	background-position: center; 
}

/*---*/

.slideimage {
	width: 100%; 
	height: 620px;
}

.slider {
	position: relative;
	width: 100%;
	height: 620px;
	overflow: hidden;
	z-index: 0;
	margin-top: -23px;
}
	
	.slides {
		height: 100%;
		
		/* Simple clear fix */
		overflow: hidden;
		
		/**	
		 * Prevent blinking issue
		 * Not tested. Experimental.
		 */
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;

		/**
		 * Here is CSS transitions 
		 * responsible for slider animation in modern broswers
		 */
		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
		        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	
		.slide {
			height: 100%;
			float: left;
			clear: none;
		}


	.slider-arrows {}

		.slider-arrow {
			position: absolute;
			display: none;
			margin-bottom: -20px;
			padding: 20px;
		}

			.slider-arrow--right { bottom: 50%; right: 30px;}
			.slider-arrow--left { bottom: 50%; left: 30px; }


	.slider-nav {
		position: absolute;
		bottom: 20px;
	}

		.slider-nav__item {
			width: 8px;
			height: 8px;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			float: left;
			clear: none;
			display: block;
			margin: 0 5px;
			background: black;
		}

				.slider-nav__item:hover { background: #333333; }
				.slider-nav__item--current { background: #79f6b9; }

/*---        SUBSCRIPTION        ---*/

/*--Four Singles Four Stories--*/

.headline-bar-copy h2 {
	text-transform: uppercase;
	text-align: center;
	color: #161616;
	display: none;
}

.headline-bar-copy h3 {
	text-transform: uppercase;
	text-align: center;
	color: black;
	display: none;
}

.headline-bar {
	background-color: #111111;
}

#arrow {
	text-align: center;
	margin-top: -1px !important;
	border: none;
	z-index: 10;
	fill: #111111;
}

/*--Pitch--*/

.sub-description {
	text-align: center;
	font-size: 1.4em;
	line-height: 1.4em;
	

}

.details {
	text-align: center;
}

.details h5 {
	text-transform: uppercase;
}


/*--Features--*/

.feature-icon {
	margin-top: 30px;
	margin-bottom: 30px;
}

.feature {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 280px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	
}

.feature h2 {
	text-transform: uppercase;
	text-align: center;
	color: #dea439;
	font-family: LydianBT-Italic, georgia; 
	font-weight: bold; 
	font-style: italic; 
	letter-spacing: .06em;
}



/*---        SHOP BANNER        ---*/

.shopbanner {
	background-image:url(../img/shop_image2.jpg);
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 350px;
	text-align: center;
}

.shopbanner h1, h2 {
	color: white;
}

.shopbannercopy {
	padding-top: 130px;
}


.mailclub {
	width: 100%;
}

/*---        SOCIAL        ---*/

.social {
	margin-right: 0px;
	margin-top: 10px;
}

ul.social {
	list-style: none;
	text-align:right;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    font-weight: 100;
    font-size-adjust:0.508;
    text-transform: uppercase;
}

ul.social li {
	display: inline;
	font-size: 14px;
	letter-spacing: .1em;
}

.socialmargin {
	margin-right: 15px;
}

ul.social a {
	color: #333333;
}

ul.social a:hover {
	color: #dea439;
}

/*---        FOOTER        ---*/

ul.footerlinks {
	list-style: none;
	text-align:center;
    font-family:"Apercu Bold", Calibri, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    font-weight: 100;
    font-size-adjust:0.508;
    margin-left: -15px;
    text-transform: uppercase;
    margin-top: 20px;
}

ul.footerlinks li {
	display: inline;
	font-size: 14px;
	letter-spacing: .1em;
}

.footermargin {
	margin-right: 30px;
}

ul.footerlinks a {
	color: #333333;
}

ul.footerlinks a:hover {
	color: #dea439;
}

.copyright p {
	text-align: center;
	font-size: .7em;
	line-height: 1.2em;
}



/*---        JOURNAL        ---*/

.journalheadline {
	text-align: center;
	background-image:url(../img/journal/journal_comingsoon.jpg);
	padding-top: 63%;
	background-size: 100%;
	background-position: center left;
	width: 100%;
}

.journalheadline h6 {
	font-size: 6em;
	line-height: 2em;
}
