---
title: "Singles Club – Part record club. Part music journal."
description: "Part record club. Part music journal."
url: "http://singlesclub.fm"
socialimage: ""
---

{% include _head.html %}

<body ng-app="singlesclub">

  <nav class="absolute t0 r0 l0 z1">
    <div class="container white">
      <div class="l-table">
        <div class="l-table-cell col-5 mobile-hide">
          <h5 class="lydian lh0 caps ls1 center mb0 pl2">Part record club. Part music journal.</h5>
        </div>
        <div class="l-table-cell center col-2 py1">
          <a href="/">
            <img src="images/logo.svg" alt="Singles Club" class="inline-block fit" />
          </a>
        </div>
        <div class="l-table-cell col-5 mobile-hide">
          <ul class="apercu h5 caps ls1 center list-inline mb0 nav-white">
            <li><a href="/journal/daniel-bachman">Current Issue</a></li>
            <li><a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription">Subscribe</a></li>
            <li><a href="http://blog.singlesclub.fm">Blog</a></li>
            <li><a href="http://shop.singlesclub.fm/products">Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="js-flyout flyout scroll-y apercu aa white bg-black mobile-show">
    <div class="py4">
      <ul class="h3 bold list-simple nav nav-white">
        <li><a href="/">Home</a></li>
        <li><a href="/journal/daniel-bachman">Current Issue</a></li>
        <li><a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription">Subscribe</a></li>
        <li><a href="http://blog.singlesclub.fm">Blog</a></li>
        <li><a href="http://shop.singlesclub.fm/products">Shop</a></li>
      </ul>
      <ul class="list list-inline nav-white">
        <li><a href="https://twitter.com/singlesclubfm" class="ss-icon">twitter</a></li>
        <li><a href="http://www.facebook.com/singlesclubfm" class="ss-icon">facebook</a></li>
        <li><a href="http://singlesclubfm.tumblr.com/" class="ss-icon">tumblr</a></li>
        <li><a href="http://www.instagram.com/singlesclubfm" class="ss-icon">instagram</a></li>
        <li><a href="https://soundcloud.com/singlesclubfm" class="ss-icon">soundcloud</a></li>
      </ul>
    </div>
  </div>

  <div class="fixed t0 l0 z4 mobile-show">
    <a href class="js-toggle-flyout inline-block bar button-icon white" style="padding:.5rem .375rem;">
      <svg id="icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewbox="0 0 32 32" fill="#ffffff">
        <rect y="4" width="32" height="4"/> <rect y="14" width="32" height="4"/> <rect y="24" width="32" height="4"/>
      </svg>
    </a>
  </div>

  <header class="slideshow slideshow--large" ng-controller="SlideshowCtrl">
    <div
      style="background-image: url(images/homepage-banner-6.jpg)"
      class="slide relative bg-cover bg-center bg-dark-grey">
        <a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription" class="absolute t0 r0 b0 l0 block"></a>
    </div>
    <div
      style="background-image: url(images/homepage-banner-5.jpg)"
      ng-style="offset"
      class="slide relative bg-cover bg-center bg-dark-grey">
        <a href="http://shop.singlesclub.fm/products" class="absolute t0 r0 b0 l0 block"></a>
    </div>
    <div
      style="background-image: url(images/homepage-banner-7.jpg)"
      class="slide relative bg-cover bg-center bg-dark-grey">
        <a href="http://shop.singlesclub.fm" class="absolute t0 r0 b0 l0 block"></a>
    </div>
  </header>

  <section class="py2 bg-dark-grey">
  	<div class="container center">
      <h2 class="apercu-light aa light-grey lh1 mt1 mb2 col col-10 pre-1 post-1">A subscription record club &amp; <br>digital music journal published quarterly</h2>
    </div>
    <div class="container">
      <div class="col-2 pre-5 center">
        <a href="http://www.singlesclub.fm/subscribe" class="apercu-medium p apercu-medium aa mb1 button button-block button-red">Learn More</a>
      </div>
    </div>
  </section>
  <section class="center bg-black pt4">
    <div class="col-1 vert-line-short bg-red pre-8">
    </div>
  </section>
  <section class="aa white bg-black py2">
    <div class="center">
      <h1 class="apercu-light mb1">The Journal</h1>
      <h3 class="lydian white ls05">Year One</h3>
    </div>
    <div class="clearfix mb2 py2 desktop-px4">
      <div class="col col-3 bg-white round">
        <div class="issue1 bg-cover round">
          <h1 class="apercu pl2 py1 align-left">1</h1>
        </div>
        <div class="px2 py2 center black">
          <h2 class="apercu lh1 mb1 mt1">
            Daniel Bachman
          </h2>
          <p class="lydian ls1 mb1">
            Winter
          </p>
          <h4 class="lh3 apercu aa mb1">
            Daniel Bachman is an American primitive-style guitar player rooted in Fredericksburg, VA. His latest album, 'Jesus, I'm a Sinner' was released on infamous roots label Tompkins Square Records, and landed him a spot at NPR’s Tiny Desk Series, thus placing him alongside some of the true guitar-slinging legends. 
          </h4>
          <a href="/journal/daniel-bachman" class="button center p apercu-medium button-red button-block">
            Read Issue
          </a>
        </div>
      </div>
      <div class="col col-3 bg-white round">
        <div class="issue2 bg-cover round">
          <h1 class="apercu pl2 py1 align-left">2</h1>
        </div>
        <div class="px2 py2 center black">
          <h2 class="apercu lh1 mb1 mt1">
            Small Sur
          </h2>
          <p class="lydian ls1 mb1">
            Spring
          </p>
          <h4 class="lh3 apercu aa mb1">
            Small Sur is a Baltimore-bred folk-peace group spearheaded by songwriter Bob Keal. Keal, who left the South Dakota farm he was raised on at 14, spent time in California before landing in Maryland. Backed by a rotating cast of talented multi-instrumentalists, Keal’s soothing vocals are met with minimalist arrangements allowing the listener to simply ‘be’.
          </h4>
          <p class="mb1">- Out May 6th -</p>
          <a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription" class="button center p apercu-medium button-block button-red">
            Subscribe Now
          </a>
        </div>
      </div>
      <div class="col col-3 bg-dark-grey round">
        <div class="issue3 bg-cover round">
          <h1 class="apercu pl2 py1 align-left">3</h1>
        </div>
        <div class="px2 py2 center black">
          <h2 class="apercu lh1 mid-grey mb1 mt1">
            Woodsman
          </h2>
          <p class="lydian light-grey ls1 mb1">
            Summer
          </p>
          <h4 class="lh3 apercu aa mid-grey mb1">
            Woodsman is a Brooklyn via Denver based psychedelic/free-form trio. Whether improvised or rehearsed, Woodsman’s sound remains intimate and meditative. Obviously technicality adept, they are humble and modest players. They have released five albums on various formats since 2009 and show no signs of slowing down. 
          </h4>
          <div class="center p button apercu-medium button-grey-no-hover">
            Coming Soon
          </div>
        </div>
      </div>
      <div class="col col-3 bg-dark-grey round">
        <div class="issue4 bg-cover round">
          <h1 class="apercu pl2 py1 align-left">4</h1>
        </div>
        <div class="px2 py2 center black">
          <h2 class="apercu mid-grey lh1 mb1 mt1">
            Wisdom Tooth
          </h2>
          <p class="lydian light-grey ls05 mb1">
            Fall
          </p>
          <h4 class="lh3 apercu aa mid-grey mb1">
            Lancaster, PA based musician and visual artist John Andrews has been recording and touring in different projects since he was sixteen. Currently on the road playing drums in Quilt and organ in Woods, John re-visits his personal project Wisdom Tooth. 
          </h4>
          <div class="button center p apercu-medium button-grey-no-hover">
            Coming Soon
          </div>
        </div>
      </div>
    </div>
        <div class="vert-line-short bg-red mb2"></div>
        <div class="center">
          <h1 class="apercu-light mb1">Record Club</h1>
          <h3 class="lydian white ls05">Four Singles. Four Stories. One Year.</h3>
        </div>
  </section>
  <section class="aa white bg-black recordclub bg-cover py8">
    <div class="container clearfix">
      <div class="col col-12 center">
        <h3 class="apercu-light shadow lh2 mb0">
          Every quarter we release a 45 single* featuring an exclusive track for the club along with a B-Side containing an interview with the artist. All paired with a digital journal containing written features, photo, video, and more available right here.
        </h3>
<!--         <h3 class="center lh1 mt2 mb0 ls05 lydian-italic">
          Volume 1 features new music from:
        </h3>
        <h3 class="apercu-light center lh1 mt1">
          Daniel Bachman, Small Sur, Woodsman <br> &amp; Wisdom Tooth
        </h3> -->
      </div>
<!--       <div class="col-8 pre-2 post-2 mb0">
        <img src="images/record-placeholder.svg"></img>
      </div> -->
    </div>
  </section>
<!--   <section class="aa bg-red white center py1 mb-0">
    <h3 class="mb0 lydian ls2"> Join the club</h3>
  </section> -->
  <section class="aa white bg-white mt0 py4 px4"> 
    <div class="container center">
       <h1 class="apercu-light aa dark-grey lh1 col col-12">
        Get the full year for &#36;65 including shipping
       </h1>
       <p class="dark-grey lh2 col-10 pre-1 post-1 apercu">
        <span class="lydian-bold ls05">Subscription Includes: </span> All four releases from 2014, custom 45 box, Singles Club Pin, 45 adapter, digital download of each single.
      </p>
    </div>
    <div class="container clearfix">
      <div class="col col-2 pre-5 post-5">
        <a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription" class="apercu-medium p apercu-medium aa button button-block button-red">Subscribe</a>
      </div>
    </div>
  </section>

  {% include _newsletter.html %}
  {% include _footer.html %}
  {% include _scripts.html %}

</body>
</html>
