<footer class="center px2 py2 grey bg-black">
  <ul class="list-inline">
    <li><a href="mailto:hello@singlesclub.fm" class="apercu-bold caps link-grey">Contact</a></li>
    <li><a href="http://shop.singlesclub.fm/products" class="apercu-bold caps link-grey">Shop</a></li>
    <li><a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription" class="apercu-bold caps link-grey">Subscribe</a></li>
  </ul>
  <p class="apercu small mb0">P.O. Box 550 Brooklyn NY 11211<br>
    © 2014 Singles Club LLC - All Rights Reserved</p>
</footer>
