
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="record club, vinyl, records, music, indie, lp">
	<meta name="author" content="www.singlesclub.fm">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.png" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link href="{{ site.url }}/css/style.css" rel="stylesheet" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ page.socialimage }}">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="fb:app_id" content="1450710301810527">
	<script type="text/javascript">
    var html = document.getElementsByTagName('html')[0];
    html.className += '  wf-loading';
    setTimeout(function() {
      html.className = html.className.replace(' wf-loading', '');
    }, 5000);
    WebFontConfig = { fontdeck: { id: '39874' } };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>

