<section class="py3 aa bg-dark-grey">
  <div class="container px2">
    <h1 class="apercu-medium p mb0 highlight">Mail Club</h1>
    <form class="row" action="http://singlesclub.us6.list-manage.com/subscribe/post" method="POST">
      <div class="col col-8">
        <div class="row">
          <div class="col col-5">
            <input type="hidden" name="u" value="27badb2e91">
            <input type="hidden" name="id" value="1781494ce0">
            <input type="text" value="E-MAIL" name="MERGE0" class="input input-white small mb1 x100"  id="form" onclick="this.focus();this.select()" onfocus="this.value=''; this.onfocus=null;"/>
          </div>
          <div class="col col-2">
            <input type="submit" id="submitbutton" value="ok" name="submit" class="apercu button button-small button-block mb1 caps button-highlight"/>
          </div>
        </div>
        <div class="mobile-center mid-grey">
          <p class="h5">Join our newsletter for new tunes, mix tapes, and features every month.</p>
        </div>
      </div>
      <div class="col col-4 right-align mobile-center">
        <ul class="list list-inline">
          <li><a href="https://twitter.com/singlesclubfm" class="ss-icon highlight">twitter</a></li>
          <li><a href="http://www.facebook.com/singlesclubfm" class="ss-icon highlight">facebook</a></li>
          <li><a href="http://singlesclubfm.tumblr.com/" class="ss-icon highlight">tumblr</a></li>
          <li><a href="http://www.instagram.com/singlesclubfm" class="ss-icon highlight">instagram</a></li>
          <li><a href="https://soundcloud.com/singlesclubfm" class="ss-icon highlight">soundcloud</a></li>
        </ul>
      </div>
    </form>
  </div>
</section>

