
<script src="{{ site.url }}/js/config.js"></script>

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="{{ site.url }}/js/jquery.unveil.min.js"></script>
<script src="{{ site.url }}/js/jquery.smooth-scroll.min.js"></script>
<script>
  $(document).ready(function() {
    $("img").unveil(1536);
    $('a').smoothScroll({offset: 4, speed: 250});
    var flyoutIsOpen = false,
        $flyout = $('.js-flyout');
    var toggleFlyout = function(){
      if(flyoutIsOpen) {
        $flyout.removeClass('is-open');
      } else {
        $flyout.addClass('is-open');
      }
      flyoutIsOpen = !flyoutIsOpen;
    };
    $('.js-toggle-flyout').click(function(){
      toggleFlyout();
    });
  });
</script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
<script src="{{ site.url }}/js/angular-carousel.js"></script>
<script src="{{ site.url }}/js/angular-scroll.js"></script>
<script src="{{ site.url }}/js/angular-parallax.js"></script>
<script src="{{ site.url }}/js/scrollfix.js"></script>
<script src="{{ site.url }}/js/angular-fitvids.js"></script>
<script src="{{ site.url }}/js/singlesclub.js"></script>

<script>
  // Twitter
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div id="fb-root"></div>
<script>
  // Facebook
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1450710301810527";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
