// Theme

$black: #111111;
$grey: #303030;
$green: #79f6b9;
$mid-grey: #666;

$gold: #dea439;

// Feature 2
$peach: #fde8d7;
$cream: #f7f3ef;

// Feature 3
$tan: #aa9785;

body {
  color: $grey;
}

.white { color: #fff; }
.black { color: $black; }
.grey  { color: $grey; }
.mid-grey { color: $mid-grey; }
.green { color: $green; }
.gold { color: $gold; }
.tan { color: $tan; }

.peach { color: $peach; }
.bg-peach-to-cream {
  background-image: linear-gradient($peach, $cream);
}
.bg-cream { background-color: $cream; }

.bg-white { background-color: #fff; }
.bg-black { background-color: $black; }
.bg-grey  { background-color: $grey; }
.bg-mid-grey { background-color: $mid-grey; }
.bg-green { background-color: $green; }
.bg-gold { background-color: $gold; }

.bg-peach { background-color: $peach; }

.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-center { background-position: center center; }

.round { border-radius: 2px; }

.circle { border-radius: 50%; }

.aa { -webkit-font-smoothing: antialiased; }

a {
  color: $gold;
  text-decoration: none;
  &:hover {
    color: darken($gold,10%);
  }
}
.nav-white a,
.link-white {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}
.link-grey {
  color: $grey;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}

.button-icon {
  svg path {
    fill: #fff;
  }
  &:hover {
    svg path {
      fill: $gold;
    }
  }
}

.button-icon-grey {
  svg path {
    fill: $mid-grey;
  }
  &:hover {
    svg path {
      fill: $gold;
    }
  }
}
.button-icon-gold {
  svg path { fill: #fff; }
  &:hover {
    svg path { fill: #fff; }
  }
}

.button-grey {
  color: #fff;
  background-color: $grey;
  &:hover {
    background-color: $gold;
  }
}

.button-gold {
  color: #fff;
  background-color: $gold;
  &:hover {
    color: #fff;
    background-color: darken($gold,10%);
  }
}

.button-border {
  color: #fff;
  border-width: .125rem;
  border-style: solid;
  // border color should inherit from the foreground color, but it's not...
  border-color: #fff;
  svg path {
    fill: #fff;
  }
  &:hover {
    color: $gold;
    border-color: $gold;
    svg path {
      fill: $gold;
    }
  }
}

.button-border-big {
  border-width: .25rem;
}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

